includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - includes
    excludePaths:
        - vendor
        - tests
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
